# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Node modules
node_modules/
client/node_modules/
server/node_modules/

# Build output
mobile/dist/
mobile/.vite/
backend/dist/
dist/
dist-ssr/

# Environment files
.env
mobile/.env
backend/.env

# Editor files
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# System files
.DS_Store
*.local
